@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-main:#FFDD5E;
  --color-gradient:linear-gradient(90deg, rgba(255,220,100,1) 36%, rgba(248,140,60,1) 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  overflow-x: hidden;
}
body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.gradient-main-rtol{
  @apply bg-gradient-to-r from-main to-secondary to-36 inline-block text-transparent bg-clip-text bg-gradient-to-r from-main to-secondary to-36 inline-block text-transparent bg-clip-text
}
.gradient-main-ltor{
  @apply bg-gradient-to-l from-main to-secondary to-36 inline-block text-transparent bg-clip-text
}
.gradient-bg-main-rtol{
  @apply bg-gradient-to-r from-main to-secondary to-36
}
/* h3{
  font-optical-sizing: auto;
  font-style: normal;
} */
.hover-underline-animation::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--color-main);
  background:var(--color-gradient);
  transition: width 0.5s;
}
body{
  color:black
}

.hover-underline-animation:hover::after {
  width: 100%;
}

  * {
    scrollbar-color:  #ffffff;
    --scrollbar-width: 0px;
    --scrollbar-face-color: transparent;
    
  }
  

  *::-webkit-scrollbar {
    width: 0px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 0px solid #ffffff;
  }
